/* stylelint-disable at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  html,
  body,
  #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  @keyframes slide-from-right {
    0% {
      transform: translate(100%, 0);
      opacity: 0;
    }
    80% {
      transform: translate(0, 0);
      opacity: 0.1;
    }
    100% {
      transform: translate(0, 0);
      opacity: 1;
    }
  }

  @keyframes slide-from-left {
    0% {
      transform: translate(-200%, 0);
      opacity: 0;
    }
    80% {
      transform: translate(0, 0);
      opacity: 0.4;
    }
    100% {
      transform: translate(0, 0);
      opacity: 1;
    }
  }

  @keyframes rotating-color {
    0% {
      color: #887dff;
    }
    25% {
      color: #802fa5;
    }
    50% {
      color: rgb(255, 255, 95);
    }
    75% {
      color: #2dff9d;
    }
    100% {
      color: #887dff;
    }
  }

  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(3%);
    }
    50% {
      transform: translateX(0);
    }
    75% {
      transform: translateX(-3%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes arrow-bounce {
    50% {
      transform: translate(0px, 10px);
    }
    100% {
      transform: translate(0px, 0px);
    }
  }

  #background-button {
    border: 1px solid white;
    padding: 5px;
  }

  #background-button:hover {
    background-color: white;
    color: #0d0516;
  }

  #job-title {
    font-size: 30px;
    text-align: center;
    text-decoration: wavy;
    margin-bottom: 30px;
  }

  #language-button:hover {
    outline: auto;
  }

  #learn-button {
    font-size: 20px;
  }

  #learn-button > svg {
    animation-name: arrow-bounce;
    animation-delay: 2s;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  #learn-button:hover {
    transition-property: color;
    transition-duration: 1s;
    color: #00fffc;
  }

  #link-button {
    background-color: #4caf50;
    color: white;
    text-align: center;
    font-size: 18px;
    background: none;
    outline: 1px solid #babbc0;
  }

  #link-button:hover {
    background-color: #2c005f;
  }

  /* text with rotating color animation */
  #name-title {
    font-size: 70px;
    color: #887dff;
    text-align: center;
    animation-name: rotating-color;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    margin-right: 10px;
  }

  #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .background {
    background: #12071f;
  }

  .contact-link {
    text-decoration: underline white;
    font-size: 20px;
    text-align: center;
  }

  .contact-link:hover {
    color: #7700ff;
    text-decoration: underline #7700ff;
  }

  .footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #12071f;
    color: white;
    padding: 15px;
    z-index: 100;
  }

  .image-title {
    font-size: 30px;
    padding: 20px;
    text-align: center;
    width: 80%;
    margin: auto;
  }

  .intro-div {
    height: 100vh;
    margin-top: 30vh;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.3);
    overflow: auto;
    scrollbar-color: #0d0516 grey;
    scrollbar-width: thin;
    scroll-behavior: smooth;
  }

  .project-image {
    margin: auto;
    width: auto;
    height: auto;
  }

  .project-image:hover {
    box-shadow: 0 0 20px rgba(66, 33, 255, 1);
  }

  @media (prefers-reduced-motion: no-preference) {
    .fade-in {
      /* Works in chrome */
      opacity: 0;
      animation: fade-in-scroll linear forwards;
      animation-timeline: view();
      animation-range: entry 200px;
    }

    .shaky:hover {
      animation-name: shake;
      animation-duration: 0.1s;
      animation-iteration-count: infinite;
    }

    .slide-left {
      animation-name: slide-from-left;
      animation-duration: 2s;
      animation-iteration-count: 1;
    }

    .slide-right {
      animation-name: slide-from-right;
      animation-duration: 2s;
      animation-iteration-count: 1;
    }

    .scrolling-horizontal[data-animated='true'] {
      overflow: hidden;
    }

    .scrolling-horizontal[data-animated='true'] .scroller-inner {
      width: max-content;
      flex-wrap: nowrap;
      animation: scrolling-horizontal linear;
      animation-timeline: scroll(root);
    }

    @keyframes scrolling-horizontal {
      to {
        transform: translate(calc(-50% - 0.5rem));
      }
    }

    .fade-out {
      animation: fade-out linear forwards;
      animation-timeline: view();
      animation-range: exit -300px;
    }

    @keyframes fade-in-scroll {
      from {
        scale: 0.8;
        opacity: 0;
      }
      to {
        scale: 1;
        opacity: 1;
      }
    }

    @keyframes fade-out {
      to {
        opacity: 0;
      }
    }
  }

  .text-box {
    margin: auto;
    text-wrap: pretty;
    width: 80%;
  }

  .text-skills {
    text-shadow:
      0 0 1px #00fffc,
      0 0 5px #00fffc,
      0px 0px 1px #00fffc,
      0 0 120px #00fffc;
    color: #ffffff;
  }

  .tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #2c005f;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    top: 40px;
  }
}
